<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h3 style="text-align: center; margin-top: 2%; font-size: 45px;font-family: 'Times New Roman', Times, serif;"><img
    src="https://img.icons8.com/dotty/80/000000/message-squared.png" style="width: 45px;">
  <u>&nbsp;Posts</u></h3>

<div class="center" style="content: center; margin-left: 15%; ">
  <div class="row">
    <div class="col">
      <div *ngFor="let post of posts">
        <h2 (click)="viewPostHandler(post._id)" style="font-family: 'Times New Roman', Times, serif;font-size: 35px; color:#606060; text-align:justify;width:
          49%; ">
          <u><b>{{post.title}}</b></u></h2>
        <p style="font-size: 22px;font-family: 'Times New Roman', Times, serif;color: #6495ED;">{{post.user}}</p>

        <img src='/assets/uploads/{{post.imgURL}}' height=" 450px" width="750px" style="border: 3px solid black;">
        <p
          style="font-family: 'Times New Roman', Times, serif; text-align:justify;width: 49%; margin-left: 0%; font-size: 25px; ">
          {{post.body}}</p><br />
        <hr>
      </div>
    </div>


    <div class="w3-display-topright" style="position: fixed;   width: 15%; height: 10%; margin-top: 10%; ">
      <button routerLink="/create" style="border-radius: 12px; background-color:#66CDAA; padding: 25px 40px;">
        <img src="https://img.icons8.com/material-sharp/24/000000/message-squared.png">Create post</button>
      <br><br>
      <button routerLink="/myPosts" style="border-radius: 12px; background-color:#66CDAA; padding: 25px 45px;">
        <img src="https://img.icons8.com/ios/50/000000/message-squared.png" style="width: 25px;">&nbsp;My Posts</button>
    </div>


  </div>




</div>
