<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<label for="other" class="w3-left"><img src="assets/logo.png" height="65" /></label>
<h1
  style="font-style: inherit; font-size: 50px; background-color:black; font-family: 'Times New Roman', Times, serif; text-align:center; color:whitesmoke;">
  Blog Application</h1>
<div class="topright">
  <button class="button" routerLink="login">

    <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Login</button>
</div>

<body>




  <img src="../assets/home.jpg" height="940px" width="100%">



</body>
