<h2 style="text-align: center;"><u>Stats</u></h2>

<div class="center">
  <div class="row">
    <div class="col">
      <br /><br /><br /><br /><br />
      <!-- <div class="col" *ngIf="posts"> -->
      <!-- <div *ngFor="let post of posts">
        <br />
        <h4 (click)="viewPostHandler(post._id)">
          <b>Post : {{ post.title }}</b>
        </h4>
        <label><b>Views : </b>{{ post.views }}</label><br />
        <label><b>Comments : </b>{{ post.comments }}</label>
      </div>
    </div> -->
      <div [chart]="chart" class="col">

      </div>
      <div class="col">
      </div>
    </div>
  </div>
